@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Sửa địa điểm
                    </header>
                    <div class="panel-body">
                        <form method="post" asp-controller="Motel" asp-area="Admin" asp-action="Update">
                            <input type="hidden" name="Id" class="form-control" id="exampleInputEmail1"
                                value="@Model.Id">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên</label>
                                <input type="text" name="Name" class="form-control" id="exampleInputName"
                                    placeholder="Tên" value="@Model.Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu đề</label>
                                <input type="text" name="Title" class="form-control" id="exampleInputTitle"
                                    placeholder="Tiêu đề" value="@Model.Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Diện tích</label>
                                <input type="float" name="Acreage" class="form-control" id="exampleInputAcreage"
                                    placeholder="m²" value="@Model.Acreage">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Giá</label>
                                <input type="float" name="Price" class="form-control" id="exampleInputPrice"
                                    placeholder="Giá" value="@Model.Price">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Địa chỉ</label>
                                <input type="text" name="Address_post" class="form-control"
                                    id="exampleInputAddress_post" placeholder="Địa chỉ" value="@Model.Address_post">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Thành phố</label>
                                <input type="text" name="Address" class="form-control" id="exampleInputAddress"
                                    placeholder="Thành phố" value="@Model.Address">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Số điện thoại</label>
                                <input type="number" name="Phone" class="form-control" id="exampleInputAddress"
                                    placeholder="Liên hệ" value="@Model.Phone">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" name="Email" class="form-control" id="exampleInputEmail"
                                    placeholder="Email" value="@Model.Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mô tả</label>
                                <input type="text" name="Description" class="form-control" id="exampleInputDescription"
                                    placeholder="mô tả" value="@Model.Description">
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>

                    </div>
                </section>
            </div>

        </div>

        <!-- page end-->
    </section>
</section>