@{
    ViewData["Title"] = "Nhà trọ";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Nhân viên
            </header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn green btn-info">
                                <a asp-controller="Motel" asp-area="Admin" asp-action="Create">
                                    Thêm địa điểm <i class="fa fa-plus"></i>
                                </a>

                            </button>
                        </div>

                    </div>
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Diện tích</th>
                                <th>Giá</th>
                                <th>Địa chỉ</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var motel in Model)
                            {
                                <tr id="motel@(motel.Id)">
                                    <td>@motel.Title</td>
                                    <td>@(motel.Acreage.ToString() + " m\u00B2")</td>
                                    <td>@motel.Price</td>
                                    <td>@motel.Address_post</td>
                                    <td>@motel.Status</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs">
                                            <a asp-action="Edit" asp-controller="Motel" asp-area="Admin"
                                                asp-route-id="@motel.Id">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </button>
                                        <button class="btn btn-danger btn-xs _delete_motel"  data-id="@motel.Id">
                                                <i class="fa fa-trash-o "></i>                                           
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
